@use "sass:color";
@use '../components/typography';
@use "../utilities/breakpoints";
@use "../utilities/variables";

%base-section {
  padding: 40px 20px 60px;

  @include breakpoints.mediaquery('gt-medium') {
    padding: 60px 20px 80px;
  }
}

%fancy-button {
  display: inline-block;
  position: relative;
  background-color: variables.$blue_color;
  @extend %main-link;
  @extend %main-link--white;
  padding: 8px 16px;

  @include breakpoints.mediaquery('gt-medium') {
    padding: 12px 24px;
  }

  &::before {
    content: '';
    width: calc(100% - 4px);
    height: 3px;
    display: block;
    background-color: variables.$darkblue_color;
    position: absolute;
    bottom: -3px;
    left: 2px;
  }

  &:hover,
  &:active {
    color: variables.$white_color;
    background-color: variables.$darkblue_color;

    &::before {
      background: color.adjust(variables.$darkblue_color, $lightness: -10%);
    }
  }

  &--inactive {
    cursor: default;

    color: variables.$white_color;
    background-color: variables.$darkblue_color;

    &::before {
      background: color.adjust(variables.$darkblue_color, $lightness: -10%);
    }

    &:hover,
    &:active {
      color: variables.$white_color;
      background-color: variables.$darkblue_color;
    }
  }
}

.fancy-button {
  @extend %fancy-button;
}
