.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: stretch;

  &__picture {
    flex-basis: 50%;
  }

  &__image {
    display: block;
    width: 100%;
    max-height: 320px;
    object-fit: cover;
  }
}
