@use "sass:color";
@use "../utilities/breakpoints";
@use "../utilities/variables";
@use '../components/common';

.speakers-cfp {
  @extend %base-section;
  background-color: variables.$white_color;

  &__center {
    display: flex;
    justify-content: center;
  }

  &__content {
    max-width: 636px;
    margin: 0 auto;

    @extend %main-text;

    font-size: 2em;
  }

  &__heading {
    @extend %main-heading;

    color: variables.$purple_color;
    margin-top: 0;
    margin-bottom: 30px;

    @include breakpoints.mediaquery('gt-medium') {
      margin-bottom: 60px;
    }
  }

  &__text {
    @extend %main-text;

    @include breakpoints.mediaquery('gt-medium') {
      margin-bottom: 32px;
    }

    text-align: left;

    @media (min-width: 480px) {
      text-align: justify;
    }
  }

  &__link {
    @extend %main-link;
  }

  &__button {
    display: inline-block;
    position: relative;
    background-color: variables.$blue_color;
    @extend %main-link;
    @extend %main-link--white;
    padding: 8px 16px;

    @include breakpoints.mediaquery('gt-medium') {
      padding: 12px 24px;
    }

    &::before {
      content: '';
      width: calc(100% - 4px);
      height: 3px;
      display: block;
      background-color: variables.$darkblue_color;
      position: absolute;
      bottom: -3px;
      left: 2px;
    }

    &:hover,
    &:active {
      color: variables.$white_color;
      background-color: variables.$darkblue_color;

      &::before {
        background: color.adjust(variables.$darkblue_color, $lightness: -10%);
      }
    }
  }
}
