@use "../utilities/breakpoints";
@use "../utilities/variables";
@use '../components/common';

.ticket {
  @extend %base-section;
  background-color: variables.$white_color;
  position: relative;

  @include breakpoints.mediaquery('gt-medium') {
    background-image: url('../../img/left-bg.png'), url('../../img/right-bg.png');
    background-position: top left, top right;
    background-repeat: repeat-y;
  }

  &__content {
    padding-top: 60px;
    max-width: 636px;
    margin: 0 auto;
  }

  &__heading {
    @extend %main-heading--special;

    color: variables.$purple_color;
    margin-top: 0;
    margin-bottom: 30px;

    @include breakpoints.mediaquery('gt-medium') {
      margin-bottom: 60px;
      white-space: nowrap;
    }
  }

  &__subheading {
    color: variables.$grey_color;

    @extend %secondary-heading;
  }

  &__text {
    @extend %main-text;

    margin-top: 0;
    margin-bottom: 20px;
  }

  &__link {
    @extend %fancy-button;
  }
}
