%main-heading {
  @extend %font-bold;

  font-size: 3rem;

  @include mediaquery('gt-medium') {
    font-size: 4.4rem;
  }

  &--white {
    color: $white_color;
  }
}

%main-heading--special {
  @extend %main-heading;
  position: absolute;
  top: 0;
  left: -5%;
  padding: 16px 42px 16px 32px;
  margin: 0;
  transform: translateY(-33.333%) rotate(-2deg);
  color: $white_color;
  background-color: $blue_color;

  @include mediaquery('gt-small') {
    left: 10%;
  }
  @include mediaquery('gt-medium') {
    left: 15%;
    padding-left: 80px;
    padding-right: 80px;
  }
}

%secondary-heading {
  @extend %font-bold;

  font-size: 1.6rem;

  @include mediaquery('gt-medium') {
    font-size: 1.8rem;
  }
}

%tertiary-heading {
  @extend %font-bold;

  font-size: 1.4rem;

  @include mediaquery('gt-medium') {
    font-size: 1.6rem;
  }
}

%mono-heading {
  @extend %font-mono;

  font-size: 1.4rem;

  @include mediaquery('gt-medium') {
    font-size: 1.8rem;
  }
}

%main-text {
  @extend %font-regular;

  color: $mediumgrey_color;

  font-size: 1.4rem;
  line-height: 1.6;

  @include mediaquery('gt-medium') {
    font-size: 1.6rem;
    margin-bottom: 32px;
  }

  &--white {
    color: $white_color;
  }

  &--small {
    font-size: 1.2rem;
    line-height: 1.4;

    @include mediaquery('gt-medium') {
      font-size: 1.4rem;
    }
  }

  &--mini {
    font-size: 1.1rem;
    line-height: 1.3;

    @include mediaquery('gt-medium') {
      font-size: 1.3rem;
    }
  }
}

%main-link {
  @extend %font-bold;

  font-size: 1.4rem;
  color: $blue-color;
  text-decoration: none;

  @include mediaquery('gt-medium') {
    font-size: 1.6rem;
  }

  &:hover,
  &:active {
    color: $darkblue_color;
  }

  &--white {
    color: $white_color;

    &:hover,
    &:active {
      color: $white_color;
    }
  }

  &--mini {
    font-size: 1.1rem;
    line-height: 1.3;

    @include mediaquery('gt-medium') {
      font-size: 1.3rem;
    }
  }
}

%secondary-link {
  @extend %font-bold;

  font-size: 1.4rem;
  color: $green_color;
  text-decoration: none;

  @include mediaquery('gt-medium') {
    font-size: 1.6rem;
  }

  &:hover,
  &:active {
    color: $darkgreen_color;
  }
}

%highlight-text {
  background-color: $blue_color;
}
