.about {
  padding: 40px 20px;
  background-color: $purple_color;

  @include mediaquery('gt-medium') {
    padding: 80px 20px;
  }

  &__content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 28px 0;
    border-width: 9px 0;
    border-style: solid;
    border-color: $green_color;

    @include mediaquery('gt-small') {
      padding: 38px 0;
      border-width: 9px;
    }
  }

  &__heading {
    @extend %main-heading;

    color: $white_color;
    max-width: 636px;
    margin: 0 auto;
  }

  &__text {
    max-width: 636px;
    margin-left: auto;
    margin-right: auto;

    @extend %main-text;
    @extend %main-text--white;
  }
}
