.about {
  @extend %base-section;
  background-color: $purple_color;

  &__content {
    max-width: 636px;
    margin: 0 auto;
  }

  &__heading {
    @extend %main-heading;
    color: $white_color;
  }

  &__text {
    @extend %main-text;
    @extend %main-text--white;
  }
}
