.agenda {
  @extend %base-section;
  position: relative;
  background-color: $purple_color;

  &__content {
    max-width: 800px;
    margin: 0 auto;
  }

  &__day {
    position: relative;

    padding: 20px 0;

    &:not(:last-of-type) {
      &:after {
        content: '';
        display: block;
        width: calc(100% - 12px);
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 6px;
        background-color: $lightpurple_color;
      }
    }

    &__heading {
      @extend %secondary-heading;
      color: $white_color;
    }
  }

  &__heading {
    max-width: 636px;
    margin: 3em auto;
    color: $white_color;
    margin-bottom: 20px;
    @extend %main-heading;
  }

  &__text {
    @extend %main-text;
    @extend %main-text--white;
  }

  &__workshop {
    &__heading {
      @extend %tertiary-heading;
      color: $blue_color;

      & > time {
        font-weight: bold;
      }

      & > h4 {
        display: inline;
        color: $green_color;
        margin: 0;
        padding: 0 0 0 5px;
        font-weight: normal;
      }

      & > h5 {
        @extend %main-text--mini;
        color: $grey_color;
        font-weight: normal;
        margin: 0 0 10px 0;
      }

      & > h6 {
        @extend %main-text--mini;
        color: $white_color;
        margin: 0 0 10px 0;

        & a {
          @extend %main-link;
          @extend %main-link--mini;
        }
      }
    }

    &__link {
      @extend %main-link;
    }

    &__text {
      @extend %main-text;
      @extend %main-text--white;
      @extend %main-text--small;
      margin-bottom: 32px;

      & a {
        @extend %main-link--mini;
      }
    }

    &__button {
      @extend %fancy-button;

      &--inactive {
        @extend %fancy-button--inactive;
      }
    }

    & > h6 {
      @extend %main-text;
      color: $white_color;
      margin: 0;
    }

    & > ul {
      @extend %main-text;
      @extend %main-text--white;
      @extend %main-text--small;

      margin: 0;
    }
  }

  &__list {
    position: relative;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    position: relative;
    list-style: none;
    padding-left: 32px;

    & > * {
      @extend %main-text;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-color: currentColor;
    }

    &::before {
      z-index: 2;
      top: 4px;
      left: 0;
      width: 14px;
      height: 14px;
      color: $blue_color;
      border-radius: 50%;
    }

    &:not(:last-of-type) {
      padding-bottom: 16px;

      &::after {
        z-index: 1;
        top: 18px;
        bottom: -4px;
        left: 5px;
        width: 4px;
        background-color: $lightpurple_color;
      }
    }

    &:nth-child(2n-1) {
      &::before {
        color: $green_color;
      }
      & time {
        color: $blue_color;
      }
    }

    &--special::before {
      border: 1px solid currentColor;
      background-color: transparent;
    }

    & > time {
      color: $redish_color;
      font-weight: bold;
      padding: 0 5px 0 0;
    }

    & > h3 {
      display: inline;
      color: $green_color;
      margin: 0;
      font-weight: normal;
    }

    & > h4 {
      @extend %main-text--mini;
      color: $grey_color;
      font-weight: normal;
      margin: 0 0 10px 0;
    }

    & > p {
      @extend %main-text--small;
      color: $white_color;
      margin: 0;
      padding: 0 0 10px 5px;
    }
  }
}

.agenda__toggle-all {
  cursor: pointer;
  @extend %fancy-button;
}
.js-toggle-open .agenda__toggle-all {
  opacity: 0.5;
}
.agenda-talks-box {
  &__title {
    cursor: pointer;
    @extend %secondary-link;
    &:hover {
      color: $blue_color !important;
    }
    &:before {
      padding-right: 5px;
      // float:right;
      content: '⤵';
    }
  }

  .js-toggle-open &__info {
    display: grid;
  }
  .js-toggle-open &__title:before {
    content: '⤴';
  }
  &__info {
    display: none;

    column-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'text'
      'pic'
      'spk';

    @include mediaquery('gt-tiny') {
      grid-template-columns: 1fr 150px;
      grid-template-areas:
        'text pic'
        'text spk';
    }

    overflow: visible;
    color: $white_color;
  }
  &__image {
    grid-area: pic;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    width: 140px;
    box-shadow: rgba($purple_color, 0.5) 0 2px 4px;
  }

  &__header {
    grid-area: spk;
    position: relative;

    &:before {
      content: ' ';
      position: absolute;
      top: -88px;
      left: -25px;
      width: 55px;
      height: 88px;
      background: url('../images/asset-mic.png') no-repeat center;
      background-size: contain;
    }

    & h3,
    & h4 {
      margin: 0;
      line-height: 1.1;
    }

    & h4 {
      font-weight: 100;
      text-transform: uppercase;
    }

    & a {
      display: inline-block;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px;

      &:hover {
        color: $white_color;
      }
    }

    &--alt {
      background-color: $green_color;
    }
  }

  &__desc {
    grid-area: text;
    font-size: 14px;
    margin: 16px 0;
    text-align: justify;

    @include mediaquery('gt-small') {
      text-align: left;
    }
  }
}
