.agenda {
  padding: 40px 20px;
  background-color: $purple_color;

  @include mediaquery('gt-medium') {
    padding: 80px 20px;
  }

  &__content {
    max-width: 636px;
    margin: 0 auto;
  }

  &__heading {
    @extend %main-heading;
    color: white;
    margin-top: 0;
    margin-bottom: 30px;

    @include mediaquery('gt-medium') {
      margin-bottom: 60px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__list-item {
    position: relative;
    list-style: none;
    padding-left: 32px;

    & > * {
      @extend %main-text;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-color: currentColor;
    }

    &::before {
      z-index: 2;
      top: 4px;
      left: 0;
      width: 14px;
      height: 14px;
      color: $blue_color;
      border-radius: 50%;
    }

    &:not(:last-of-type) {
      padding-bottom: 16px;

      &::after {
        z-index: 1;
        top: 18px;
        bottom: -4px;
        left: 5px;
        width: 4px;
        background-color: $lightpurple_color;
      }
    }

    &:nth-child(2n-1) {
      &::before {
        color: $green_color;
      }
    }

    &--special::before {
      border: 1px solid currentColor;
      background-color: transparent;
    }

    & > time {
      color: $green_color;
      font-weight: bold;
    }

    & > h3 {
      color: $blue_color;
      font-weight: normal;
      margin: 0;
    }

    & > p {
      color: white;
      font-style: italic;
      margin: 0;
    }
  }
}
