.code {
  padding: 40px 20px 50px;
  background-color: white;
  &__content {
    max-width: 700px;
    margin: 0 auto;
    @include mediaquery('gt-medium') {
      width: 590px;
      padding: 70px 0 100px;
      margin: 0 auto;
    }
  }
  &__heading {
    color: $purple_color;
    margin: 0 0 30px;
    @extend %main-heading;
    @include mediaquery('gt-medium') {
      margin-bottom: 50px;
      white-space: nowrap;
    }
  }
  &__text {
    @extend %main-text;
    margin-top: 0;
    margin-bottom: 20px;
  }
  &__link {
    @extend %main-link;
  }
}
