.code {
  padding: 40px 20px;
  background-color: white;

  @include mediaquery('gt-medium') {
    padding: 80px 20px;
    background-image: url(../images/code/left-bg.png), url(../images/code/right-bg.png);
    background-position: top left, top right;
    background-repeat: repeat-y;
  }

  &__content {
    max-width: 636px;
    margin: 0 auto;
  }

  &__heading {
    @extend %main-heading;

    color: $purple_color;
    margin-top: 0;
    margin-bottom: 30px;

    @include mediaquery('gt-medium') {
      margin-bottom: 60px;
      white-space: nowrap;
    }
  }

  &__subheading {
    color: $grey_color;

    @extend %secondary-heading;
  }

  &__text {
    @extend %main-text;

    margin-top: 0;
    margin-bottom: 20px;
  }

  &__link {
    @extend %main-link;
  }
}
