.code {
  padding: 40px 20px 50px;
  background-color: white;

  @include mediaquery('gt-medium') {
    background-image: url(../images/code/left-bg.png), url(../images/code/right-bg.png);
    background-position: top left, top right;
    background-repeat: repeat-y;
  }

  &__content {
    max-width: 646px;
    margin: 0 auto;

    @include mediaquery('gt-medium') {
      padding: 70px 0 100px;
    }
  }

  &__heading {
    color: $purple_color;
    margin: 0 0 30px;

    @extend %main-heading;

    @include mediaquery('gt-medium') {
      margin-bottom: 50px;
      white-space: nowrap;
    }
  }

  &__subheading {
    color: $grey_color;

    @extend %secondary-heading;
  }

  &__text {
    @extend %main-text;

    margin-top: 0;
    margin-bottom: 20px;
  }

  &__link {
    @extend %main-link;
  }
}
