.main-footer {
  background-color: $purple_color;
  &--side {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 30px;
    height: 80px;
    background: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include mediaquery('gt-medium') {
      &::before {
        content: '';
        display: block;
        width: 110px;
        height: 10px;
        position: absolute;
        top: 0;
        right: -10px;
        background-color: $blue_color;
      }
      &::after {
        content: '';
        display: block;
        width: 10px;
        height: 120px;
        position: absolute;
        bottom: 0;
        right: -50px;
        background-color: $green_color;
      }
    }
  }
  &__content {
    padding: 20px;
    position: relative;
    @include mediaquery('gt-small') {
      max-width: 700px;
      margin: 0 auto;
    }
    @include mediaquery('gt-medium') {
      max-width: 1040px;
      width: calc(100% / 12 * 8);
      margin: 0 auto;
    }
    a {
      @extend %main-link;
    }
    &::after {
      content: '';
      display: block;
      width: calc(100% - 12px);
      height: 2px;
      position: absolute;
      top: 0;
      left: 6px;
      background-color: $lightpurple_color;
    }
  }
  &__badge {
    color: $white_color;
    display: inline-block;
    padding: 8px 25px;
    @extend %mono-heading;
    @extend %highlight-text;

    text-transform: none !important; // TODO: Fix it properly
  }
  &__copy {
    margin-top: 0;
    @extend %main-text;
    &--side {
      padding-left: 20px;
      @include mediaquery('gt-small') {
        max-width: 580px;
        margin: 0 auto;
        padding: 0;
      }
      @include mediaquery('gt-medium') {
        max-width: none;
        padding-left: calc(100% / 12 * 5);
      }
    }
  }
}
