.main-section {
  @include mediaquery('gt-medium') {
    height: 100vh;
    min-height: 640px;
    max-height: 740px;
    padding-bottom: 83px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  &__outer-content {
    width: 100%;
    padding-top: 120px;
    background: url(../images/summit-mobile.jpg) no-repeat top center;
    position: relative;
    @include mediaquery('gt-small') {
      background: url(../images/summit-desktop.jpg) no-repeat center bottom / cover;
      padding-top: 140px;
    }
    @include mediaquery('gt-medium') {
      padding: 205px 0px 0px;
      height: 100%;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 80px;
      left: 0;
      background: $bg-gradient;
      pointer-events: none;
    }
  }
  &__image {
    width: 150px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 101;
    pointer-events: none;

    .has-js & {
      z-index: 1;
    }

    @include mediaquery('gt-small') {
      width: 200px;
      right: calc(100% / 12 * 2);
      z-index: 1;
    }

    @include mediaquery('gt-medium') {
      left: -20px;
      top: calc(50% - 100px);
      width: 240px;
      transform: translateY(-50%);
    }
  }
  &__content {
    max-width: 1180px;
    @include mediaquery('gt-medium') {
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
    }
  }
  &__info {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    z-index: $index-low;
    padding: 0 20px;
    @include mediaquery('gt-small') {
      padding: 0;
    }
    @include mediaquery('gt-medium') {
      position: absolute;
      top: calc(50% - 95px);
      left: calc(100% / 12 * 3);
      width: 100%;
      transform: translateY(-50%);
    }
  }
  &__heading {
    color: $white_color;
    margin: 0;
    line-height: 1;
    position: relative;
    @extend %main-heading;
    @include mediaquery('gt-small') {
      margin-top: 0px;
    }
  }
  &__date {
    margin-top: 6px;
    color: $white_color;
    @extend %mono-heading;
  }
  &__text {
    margin-top: 60px;
    @extend %main-text;
    @include mediaquery('gt-medium') {
      max-width: 650px;
    }
  }
  &__highlight {
    font-size: 1.2rem;
    padding: 6px 8px;
    @extend %highlight-text;
    @include mediaquery('gt-small') {
      padding: 7px 20px;
      font-size: 1.4rem;
    }
    @include mediaquery('gt-medium') {
      font-size: 1.8rem;
    }
  }
  &__badge {
    display: flex;
    padding: 10px 0 20px;
    justify-content: center;
    position: relative;
    z-index: $index-low;
    @include mediaquery('gt-small') {
      margin-bottom: 30px;
    }
    @include mediaquery('gt-medium') {
      position: absolute;
      bottom: 160px;
      left: -260px;
      top: 180px;
      z-index: $index-low;
    }
  }
}

.sponsors {
  padding: 20px 20px 20px;
  position: relative;
  z-index: $index-low;
  background: $lightgrey_color;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mediaquery('gt-small') {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;
    z-index: $index-low;
  }
  @include mediaquery('gt-medium') {
    transform: translateY(50%);
    padding: 0 40px;
    justify-content: flex-start;
  }
  &__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-content: center;
    margin-bottom: 20px;
    max-width: 330px;
    @include mediaquery('gt-small') {
      max-width: none;
      align-items: flex-start;
      margin-right: 20px;
      &:last-child {
        margin-right: 0px;
      }
    }
    @include mediaquery('gt-medium') {
      margin-top: 30px;
      margin-bottom: 25px;
    }
    &--scope {
      .sponsors__image {
        max-width: 92px;
      }
      @include mediaquery('gt-small') {
        .sponsors__item {
          max-width: calc(50% - 8px);
        }
      }
    }
    &--global, &--scope {
      @include mediaquery('gt-small') {
        width: calc(100% / 12 * 3);
        flex-grow: 1;
      }
    }
    &--modular {
      @include mediaquery('gt-small') {
        width: calc(100% / 12 * 6);
        flex-grow: 2;
      }
      .sponsors__item .sponsors__image {
        width: 70px;
      }
    }
  }
  &__image {
    width: 100%;
    max-width: 100px;
    box-sizing: border-box;
    padding: 5px;
    background: $white_color;

    &--big {
      max-width: 180px;
      margin-top: 4px;
    }

    &--placeholder {
      padding: 0;
    }
  }
  &__link {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__heading {
    color: $purple_color;
    margin-top: 0;
    @extend %mono-heading;
    @include mediaquery('gt-small') {
      margin-left: 4px;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__item {
    list-style: none;
    margin: 4px 8px 4px 0;
    background: $white_color;
    display: flex;

    &--placeholder {
      background-color: $placeholder_gray;
    }
  }
}

.badge {
  width: 188px;
  height: 98px;
  position: relative;
  display: flex;
  align-items: center;
  background: $green_color;
  &__text {
    color: $white_color;
    font-size: 1.8rem;
    line-height: 1;
    margin-left: 20px;
    @extend %font-bold;
    &--large {
      font-size: 3.6rem;
      display: block;
    }
  }
  &::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 25px 0px 0;
    border-color: transparent $darkgreen_color transparent transparent;
    position: absolute;
    top: -12px;
  }
  &::after {
    content: "";
    height: 100%;
    width: 24px;
    display: block;
    position: absolute;
    right: 0;
    top: 5px;
    transform: skewY(-20deg);
    background: $darkgreen_color;
  }
}
