// sticky nav + anchor hack
main > section:not(:first-child) {
  position: relative;
  border-top: 59px solid transparent;
  margin-top: -59px;
  background-clip: padding-box;
}

.main-section {
  @include mediaquery('gt-medium') {
    height: 100vh;
    padding-bottom: 83px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    min-height: 760px;
    max-height: 760px;
    padding-bottom: 0px; // delete when more sponsors are added
  }
  &__outer-content {
    width: 100%;
    padding-top: 80px;
    background: url(../images/summit-mobile.jpg) no-repeat top center;
    position: relative;
    @include mediaquery('gt-small') {
      background: url(../images/summit-desktop.jpg) no-repeat center bottom / cover;
      padding-top: 100px;
    }
    @include mediaquery('gt-medium') {
      padding-top: 140px;
      padding: 95px 0px 0px;
      height: 100%;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 80px;
      left: 0;
      background: $bg-gradient;
      pointer-events: none;
    }
  }
  &__image {
    width: 150px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 101;
    pointer-events: none;
    .has-js & {
      z-index: 1;
    }
    @include mediaquery('gt-small') {
      width: 200px;
      right: calc(100% / 12 * 2);
      z-index: 1;
    }
    @include mediaquery('gt-medium') {
      left: -20px;
      top: calc(50% - 100px);
      width: 240px;
      transform: translateY(-50%);
    }
  }
  &__content {
    max-width: 1180px;
    @include mediaquery('gt-medium') {
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
    }
  }
  &__info {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    z-index: $index-low;
    padding: 0 20px 20px 20px;
    @include mediaquery('gt-small') {
      padding: 0;
      margin-bottom: 50px;
    }
    @include mediaquery('gt-medium') {
      position: absolute;
      top: calc(50% - 115px);
      left: calc(100% / 12 * 3);
      width: 100%;
      transform: translateY(-50%);
    }
  }
  &__heading {
    color: $white_color;
    margin: 0;
    line-height: 1;
    position: relative;
    @extend %main-heading;
    @include mediaquery('gt-small') {
      margin-top: 0px;
    }
  }
  &__date {
    margin-top: 6px;
    color: $white_color;
    @extend %mono-heading;
  }
  &__text {
    margin-top: 20px;
    @extend %main-text;
    @include mediaquery('gt-medium') {
      max-width: 650px;
    }
    & + .main-section__text {
      margin-top: 20px;
    }
  }
  &__highlight {
    font-size: 1.2rem;
    padding: 6px 8px;
    @extend %highlight-text;
    @include mediaquery('gt-small') {
      padding: 7px 20px;
      font-size: 1.4rem;
    }
    @include mediaquery('gt-medium') {
      font-size: 1.8rem;
    }
  }
  &__badge {
    display: flex;
    padding: 10px 0 20px;
    justify-content: center;
    position: relative;
    z-index: $index-low;
    @include mediaquery('gt-small') {
      margin-bottom: 30px;
    }
    @include mediaquery('gt-medium') {
      position: absolute;
      bottom: 160px;
      left: -260px;
      top: 180px;
      z-index: $index-low;
    }
  }
}

.sponsors {
  padding: 20px 20px 20px;
  position: relative;
  z-index: $index-low;
  background-color: $lightgrey_color;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px; // debug
  // background: linear-gradient(90deg, #ff0000 1px, rgba(255, 0, 0, 0) 1px),
  //   linear-gradient(90deg, rgba(255, 255, 255, 0.298039) 1px, rgba(255, 0, 0, 0) 1px), #eceff1;
  // background-position: 30px 0;
  // background-origin: padding-box;
  // background-clip: border-box;
  // background-size: calc((100% - 60px) / 12);
  // &__group {
  //   outline: 1px solid blue;
  // }
  @include mediaquery('gt-small') {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;
    z-index: $index-low;
  }
  @include mediaquery('gt-medium') {
    transform: translateY(calc(50% - 40px));
    padding: 0 30px;
    justify-content: flex-start;
  }
  &__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-content: center;
    margin-bottom: 20px;
    max-width: 330px;
    @include mediaquery('gt-small') {
      max-width: none;
      align-items: flex-start;
    }
    @include mediaquery('gt-medium') {
      margin-top: 30px;
      margin-bottom: 25px;
    }
    &--scope {
      .sponsors__image {
        max-width: 80px;
      }
    }
    &--scope,
    &--modular {
      .sponsors__item {
        height: 50px;
      }
    }
    &--global,
    &--partners {
      .sponsors__item,
      .sponsors__link {
        width: 100%;
      }
      .sponsors__link {
        background-color: transparent;
        @include mediaquery('gt-small') {
          height: 60px;
        }
        max-width: 200px;
      }
      @include mediaquery('gt-small') {
        width: calc(100% / 12 * 2.5 - 20px);
        margin-right: 20px;
      }
    }
    &--partners {
      @include mediaquery('gt-small') {
        margin-top: 0;
        margin-left: calc(100% / 12 * 8.5);

        .sponsors__heading {
          margin-bottom: 0;
        }
        .sponsors__item {
          margin-top: 0;
        }
        .sponsors__link {
          padding-top: 0;
        }
      }
    }
    &--modular,
    &--scope {
      @include mediaquery('gt-small') {
        width: calc(100% / 12 * 3.5);
      }
      .sponsors__item .sponsors__image {
        width: 80px;
      }
    }
  }
  &__image {
    width: 100%;
    max-width: 100px;
    box-sizing: border-box;
    &--big {
      max-width: 200px;
      @include mediaquery('gt-small') {
        max-height: 60px;
      }
    }
    &--placeholder {
      padding: 0;
    }
  }
  &__link {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: $white_color;
    &--placeholder {
      padding: 0;
    }
  }
  &__heading {
    color: $purple_color;
    margin-top: 0;
    @extend %mono-heading;
    @include mediaquery('gt-small') {
      margin-left: 4px;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__item {
    list-style: none;
    margin: 4px 8px 4px 0;
    display: flex;
    &--placeholder .sponsors__link {
      background-color: $placeholder_gray;
    }
  }
}

.badge {
  width: 188px;
  height: 98px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: $green_color;
  &__text {
    color: $white_color;
    font-size: 1.8rem;
    line-height: 1;
    margin-left: 20px;
    @extend %font-bold;
    &--large {
      font-size: 3.6rem;
      display: block;
    }
  }
  &::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 25px 0px 0;
    border-color: transparent $darkgreen_color transparent transparent;
    position: absolute;
    top: -12px;
  }
  &::after {
    content: '';
    height: 100%;
    width: 24px;
    display: block;
    position: absolute;
    right: 0;
    top: 5px;
    transform: skewY(-20deg);
    background-color: $darkgreen_color;
  }
}
