.main-header {
  width: 100%;
  position: relative;
  top: 0;
  padding-top: 10px;
  z-index: $index-top;
  background: $purple_color;
  min-height: 60px;

  .has-js & {
    position: fixed;
    background: transparent;

    &--sticky, &.menu-open {
      background: $purple_color;
    }
    &.menu-open {
      height: 100vh;

      @include mediaquery('gt-small') {
        height: auto;
      }
    }
  }

  @include mediaquery('gt-small') {
    height: 78px;
  }
  @include mediaquery('gt-medium') {
    padding-top: 15px;
    height: 92px;
    position: fixed;
  }
  &--side {
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 10px;
    @include mediaquery('gt-medium') {
      $padding: 20px;
      position: relative;
      padding-left: calc(100% * (5 / 12) - #{$padding});
      &::before {
        content: '';
        display: block;
        width: 60px;
        height: 10px;
        position: absolute;
        top: -90px;
        left: 240px;
        z-index: $index-low;
        background: $blue_color;
      }
      &::after {
        content: '';
        display: block;
        width: 10px;
        height: 115px;
        position: absolute;
        top: -80px;
        left: -110px;
        background: $blue_color;
      }
    }
  }
  &__content {
    max-width: 1180px;
    margin: 0 auto;
    @include mediaquery('gt-small') {
      display: flex;
      padding-bottom: 10px;
    }
  }
  .button-menu {
    display: none;

    .has-js & {
      display: block;
      @include mediaquery('gt-small') {
        display: none;
      }
    }

    &[aria-expanded="true"] {
      .button-menu__menu-icon {
        display: none;
      }
      .button-menu__close-icon {
        display: initial;
      }
      @at-root .has-js .main-header:not(.menu-open) {
        .button-menu__menu-icon {
          display: initial;
        }

        .button-menu__close-icon {
          display: none;
        }
      }
    }

    &[aria-expanded="false"] {
      .button-menu__menu-icon {
        display: initial;
      }
      .button-menu__close-icon {
        display: none;
      }
    }
  }
  &__nav {
    display: none;
    background: $purple_color;
    @include mediaquery('gt-small') {
      width: 100%;
      min-height: initial;
      display: block;
      padding-right: 20px;
      position: relative;
      background: none;
    }

    .button-menu[aria-expanded="true"] + & {
      display: block;
      margin-bottom: -100px;

      .has-js .main-header:not(.menu-open) & {
        display: none;
      }

      .button-menu__menu-icon {
        display: none;
      }
      .button-menu__close-icon {
        display: initial;
      }
    }
  }
}

.main-logo {
  width: 116px;
  margin: 0 0 10px 20px;
  @include mediaquery('gt-small') {
    margin: 10px 30px 0 20px;
  }
  @include mediaquery('gt-medium') {
    width: 195px;
    margin: 0 0 0 20px;
  }
  &__image {
    width: 116px;
    height: 40px;
    display: block;
    @include mediaquery('gt-medium') {
      width: 195px;
      height: auto;
    }
  }
}

.main-nav {
  position: relative;
  @include mediaquery('gt-small') {
    width: calc(100% - 68px);
    &--side {
      @include mediaquery('gt-medium') {
        width: calc(100% - 40px);
      }
    }
  }
  &__list {
    margin: 0;
    padding: 14px 0;
    position: relative;
    text-align: center;
    @include mediaquery('gt-small') {
      display: flex;
      margin-left: 10px;
    }
    @include mediaquery('gt-medium') {
      margin-left: 80px;
    }
    &--side {
      @include mediaquery('gt-small') {
        justify-content: flex-end;
      }
      @include mediaquery('gt-small') {
        margin-left: 0;
      }
    }
  }
  &__item {
    padding: 6px 0;
    list-style: none;
    @include mediaquery('gt-small') {
      margin-right: 16px;
    }
    @include mediaquery('gt-medium') {
      margin-right: 26px;
    }
    &--side {
      @include mediaquery('gt-medium') {
        margin-right: 16px;
      }
    }
  }
  &__link {
    @extend %main-link;
  }
}

.social-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  @include mediaquery('gt-small') {
    position: absolute;
    right: 20px;
    width: 60px;
    top: 32px;
    transform: translateY(-50%);
  }
  &--side {
    @include mediaquery('gt-medium') {
      right: 0px;
    }
  }
  &__list {
    margin: 0;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    list-style: none;
    @include mediaquery('gt-small') {
      width: 68px;
    }
  }
  &__item {
    margin: 0 9px;
  }
  &__link {
    text-decoration: none;
  }
  &__icon {
    width: 16px;
    height: 16px;
    fill: $blue_color;
    &:hover, &:active {
      fill: $darkblue_color;
    }
  }
}

.button-menu {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  @include mediaquery('gt-small') {
    display: none;
  }
  &__icon {
    position: absolute;
    fill: $blue_color;
  }
  &__menu-icon {
    width: 25px;
    height: 25px;
    display: block;
    top: 8px;
    left: 7px;
  }
  &__close-icon {
    width: 20px;
    height: 20px;
    display: block;
    top: 10px;
    left: 10px;
  }
}

.register-button {
  margin-top: 22px;
  position: relative;
  padding: 0;
  @include mediaquery('gt-small') {
    position: absolute;
    right: 0;
    margin-top: 0;
  }
  @include mediaquery('gt-medium') {
    top: 8px;
  }
  &__link {
    @extend %main-link;
    @extend %main-link--white;
    display: inline-block;
    background: $blue_color;
    padding: 8px 12px;
    position: relative;
    @include mediaquery('gt-medium') {
      padding: 12px 15px;
    }
    &::before {
      content: "";
      width: calc(100% - 4px);
      height: 3px;
      display: block;
      background: $darkblue_color;
      position: absolute;
      bottom: -3px;
      left: 2px;
    }
    &:hover, &:active {
      color: $white_color;
      background: $darkblue_color;
      &::before {
        background: darken($darkblue_color, 10%);
      }
    }
  }
}
