.partners {
  padding: 40px 20px 50px;
  background-color: white;
  &__content {
    max-width: 636px;
    margin: 0 auto;
    @include mediaquery('gt-medium') {
      padding: 60px 0 100px;
    }
  }
  &__heading {
    color: $purple_color;
    margin: 0 0 30px;
    @extend %main-heading;
    @include mediaquery('gt-medium') {
      margin-bottom: 50px;
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    text-align: center;
    & > li {
      margin-bottom: 40px;
    }

    @include mediaquery('gt-small') {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
