.speakers-cfp {
  padding: 40px 20px 70px;
  background-color: white;
  @include mediaquery('gt-medium') {
    padding: 80px 20px;
  }
  &__content {
    max-width: 636px;
    margin: 0 auto;
    @extend %main-text;
    font-size: 2em;
  }
  &__heading {
    color: $purple_color;
    margin-top: 0;
    margin-bottom: 30px;
    @extend %main-heading;
    @include mediaquery('gt-medium') {
      margin: 0 auto 60px;
    }
  }
  &__text {
    @extend %main-text;
    @include mediaquery('gt-medium') {
      margin-bottom: 32px;
    }

    text-align: justify;
  }
  &__link {
    @extend %main-link;
  }
}
