.sponsor-offer {
  padding-top: 40px;
  background-color: white;
  @include mediaquery('gt-medium') {
    padding-top: 60px;
  }
  &__content {
    @include mediaquery('gt-small') {
    }
  }
  &__main-info {
    max-width: 676px;
    margin: 0 auto;
    padding: 0 20px;
  }
  &__heading {
    margin-top: 0;
    color: $purple_color;
    margin-bottom: 40px;
    @extend %main-heading;
    @include mediaquery('gt-medium') {
      white-space: nowrap;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
  &__text {
    @extend %main-text;
    @include mediaquery('gt-medium') {
      margin-bottom: 32px;
    }
  }
  &__highlight {
    @extend %highlight-text;
    color: $white_color;
    padding: 4px 2px;
    @include mediaquery('gt-medium') {
      padding: 6px 2px;
    }
  }
  &__link {
    @extend %main-link;
  }
  &__main-info {
    @include mediaquery('gt-medium') {
      order: 2;
      width: 62%;
      position: relative;
    }
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    margin-top: 40px;
    @include mediaquery('gt-medium') {
      margin-top: 70px;
    }
  }
  &__picture {
    flex-basis: 50%;
  }
  &__image {
    display: block;
    width: 100%;
    max-height: 320px;
    object-fit: cover;
  }
}
