.tickets {
  padding: 40px 20px;
  background-color: #ffffff;

  @include mediaquery('gt-medium') {
    padding: 80px 20px;
  }

  &__content {
    max-width: 636px;
    margin: 0 auto;
  }

  &__heading {
    @extend %main-heading;

    margin-top: 0;
    margin-bottom: 30px;

    @include mediaquery('gt-medium') {
      margin-bottom: 60px;
    }
  }

  &__text {
    @extend %main-text;

    @include mediaquery('gt-medium') {
      margin-bottom: 32px;
    }

    text-align: justify;
  }

  &__link {
    @extend %main-link;
  }
}
