.tickets {
  padding: 40px 20px;
  background-color: #ffffff;

  @include mediaquery('gt-medium') {
    padding: 80px 20px;
  }

  &__center {
    display: flex;
    justify-content: center;
  }

  &__content {
    max-width: 636px;
    margin: 0 auto;
  }

  &__heading {
    @extend %main-heading;

    margin-top: 0;
    margin-bottom: 30px;

    @include mediaquery('gt-medium') {
      margin-bottom: 60px;
    }
  }

  &__text {
    @extend %main-text;

    @include mediaquery('gt-medium') {
      margin-bottom: 32px;
    }

    text-align: left;

    @media (min-width: 480px) {
      text-align: justify;
    }

    &--sold-out {
      text-decoration: line-through;

      strong::after {
        display: inline-block;
        font-weight: 600;
        color: $red_color;
        text-decoration: none;
        padding-left: 0.3rem;
        content: 'Sold out';
      }
    }
  }

  &__link {
    @extend %main-link;
  }

  &__button {
    display: inline-block;
    position: relative;
    background-color: $blue_color;
    @extend %main-link;
    @extend %main-link--white;
    padding: 8px 16px;

    @include mediaquery('gt-medium') {
      padding: 12px 24px;
    }

    &::before {
      content: '';
      width: calc(100% - 4px);
      height: 3px;
      display: block;
      background-color: $darkblue_color;
      position: absolute;
      bottom: -3px;
      left: 2px;
    }

    &:hover,
    &:active {
      color: $white_color;
      background-color: $darkblue_color;

      &::before {
        background: darken($darkblue_color, 10%);
      }
    }
  }
}
