.tickets {
  @extend %base-section;
  position: relative;
  background-color: #ffffff;

  &__center {
    display: flex;
    justify-content: center;
  }

  &__content {
    max-width: 636px;
    margin: 0 auto;
  }

  &__heading {
    @extend %main-heading--special;
  }

  &__text {
    @extend %main-text;

    @include mediaquery('gt-medium') {
      margin-bottom: 32px;
    }

    text-align: left;

    @media (min-width: 480px) {
      text-align: justify;
    }

    &--sold-out {
      text-decoration: line-through;

      strong::after {
        display: inline-block;
        font-weight: 600;
        color: $red_color;
        text-decoration: none;
        padding-left: 0.3rem;
        content: 'Sold out';
      }
    }
  }

  &__link {
    @extend %main-link;
  }

  &__button {
    @extend %fancy-button;
  }
}
