.venue {
  position: relative;
  padding: 80px 20px;
  background: $lightgrey_color url(../images/venue/venue-bg-mobile.jpg) center / cover;
  @include mediaquery('gt-medium') {
    padding: 135px 20px;
    background-image: url(../images/venue/venue-bg-desktop.jpg);
  }
  &__heading {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px 64px 16px 32px;
    margin: 0;
    transform: translateY(-50%) rotate(-2deg);
    color: $white_color;
    background-color: $blue_color;
    @extend %main-heading;
    @include mediaquery('gt-small') {
      left: 10%;
    }
    @include mediaquery('gt-medium') {
      left: 15%;
      padding-left: 80px;
    }
  }
  &__content {
    @include mediaquery('gt-small') {
      margin: 0 auto;
      max-width: 636px;
    }
  }
  &__image {
    width: 100%;
    padding: 40px 40px 0 40px;
    background-color: rgba($green_color, 0.88);
    @include mediaquery('gt-small') {
      padding: 0 60px 40px 60px;
      background-color: transparent;
    }
  }
  &__logo {
    width: 100%;
    max-width: 550px;
  }
  &__info {
    padding: 40px;
    background-color: rgba($green_color, 0.88);
    @include mediaquery('gt-small') {
      padding: 40px 60px;
    }
  }
  &__place {
    @extend %secondary-heading;
    color: $blue-color;
    margin: 0;
  }
  &__address {
    @extend %main-text;
    margin: 12px 0;
    font-weight: bold;
  }
  &__link {
    @extend %main-link;
    &:first-child {
      margin-right: 45px;
    }
  }
}
