.venue {
  padding: 40px 20px 60px;
  background: $lightgrey_color;
  @include mediaquery('gt-medium') {
    padding: 80px 20px 135px;
  }
  &__content {
    position: relative;
    @include mediaquery('gt-small') {
      margin: 0 auto;
      max-width: 700px;
      display: flex;
      flex-wrap: wrap;
    }
    @include mediaquery('gt-medium') {
      width: 590px;
    }
  }
  &__building-image {
    width: 150px;
    position: absolute;
    right: 0;
    z-index: 1;
    top: calc(50% + 10px);
    transform: translateY(-50%);

    @include mediaquery('gt-small') {
      width: 200px;
      right: calc(-100% / 12 * 0.5);
    }

    @include mediaquery('gt-medium') {
      left: -280px;
      width: 240px;
    }
  }
  &__heading {
    margin: 0 0 40px;
    color: $purple_color;
    @extend %main-heading;
    @include mediaquery('gt-small') {
      width: 100%;
    }
    @include mediaquery('gt-medium') {
      margin: 0 0 60px;
    }
  }
  &__picture {
    width: 234px;
    padding-left: 15px;
    margin-bottom: 80px;
    position: relative;
    @include mediaquery('gt-small') {
      margin-right: 60px;
    }
    @include mediaquery('gt-medium') {
      width: 50%;
      margin: 20px 0 0 0;
      padding: 4px 44px 0 15px;
      position: relative;
    }
    &::after {
      content: "";
      display: block;
      width: calc(100% + 14px);
      height: 10px;
      background: $white_color;
      position: absolute;
      bottom: -50px;
      left: 0px;
      @include mediaquery('gt-medium') {
        width: calc(100% - 30px);
        bottom: -55px;
      }
    }
  }
  &__image {
    width: 100%;
    max-width: 234px;
  }
  &__info {
    @include mediaquery('gt-medium') {
      width: 50%;
    }
  }
  &__place {
    margin: 20px 0 0 0 ;
    color: $purple-color;
    @extend %secondary-heading;
  }
  &__address {
    @extend %main-text;
    margin: 12px 0;
  }
  &__link {
    @extend %main-link;
    &:first-child {
      margin-right: 45px;
    }
  }
}
