// color variables

$purple_color: #2b1c34;
$lightpurple_color: #3a3349;
$blue_color: #249fab;
$darkblue_color: #166e77;
$grey_color: #78909c;
$lightgrey_color: #eceff1;
$green_color: #bddb59;
$darkgreen_color: #687e1e;
$white_color: #ffffff;
$placeholder_gray: rgb(204, 204, 204);

// z-index

$index-top: 100;
$index-middle: 50;
$index-low: 1;
$index-negative: -1;

// gradient

$bg-gradient: linear-gradient(
  to bottom,
  rgba(43, 28, 52, 1) 0%,
  rgba(43, 28, 52, 0.9) 1%,
  rgba(43, 28, 52, 0.8) 25%,
  rgba(43, 28, 52, 0) 60%,
  rgba(43, 28, 52, 0) 100%
);
