// color variables

$purple_color: #2B1C34;
$lightpurple_color: #3A3349;
$blue_color: #249FAB;
$darkblue_color: #166E77;
$grey_color: #78909C;
$lightgrey_color: #ECEFF1;
$green_color: #BDDB59;
$darkgreen_color: #687E1E;
$white_color: #FFFFFF;
$placeholder_gray: rgb(204, 204, 204);

// z-index

$index-top: 100;
$index-middle: 50;
$index-low: 1;
$index-negative: -1;

// gradient

$bg-gradient: linear-gradient(to bottom, rgba(43,28,52,1) 0%,rgba(43,28,52,0.9) 1%,rgba(43,28,52,0.8) 25%,rgba(43,28,52,0) 60%,rgba(43,28,52,0) 100%);
