<section class="cfp" id="cfp">
  <div class="cfp__content">
    <h2 class="cfp__heading"><span aria-hidden="true">#</span>call for papers</h2>
    <p class="cfp__text">
      We are excited to announce that the call for papers is now open! We'd like to invite
      everyone in the JavaScript community to submit their talks. Have you optimized your app
      recently so it's n times faster? Or maybe You know how to solve a particular problem
      differently and want to share an idea?
    </p>
    <p class="cfp__text">
      That's fantastic! Being a speaker at meet.js Summit doesn't mean you're claimed to be
      the expert. It means you have worked on something cool and want to share your opinions.
    </p>
    <p class="cfp__text">
      You can find guidelines and more information on the
      <a class="cfp__link" href="#insert-cfp-link">
        call for papers form</a
      >. The deadline for submitting your proposals is July 31st, 20XX.
    </p>

    <a class="cfp__button" href="#insert-cfp-link">
      Submit your proposal
    </a>
  </div>
</section>
