<section class="code" id="code-of-conduct">
  <div class="code__content">
    <h2 class="code__heading"><span aria-hidden="true">#</span>code-of-conduct</h2>

    <p class="code__text">
      <strong
        >The primary goal of meet.js Summit {{ year }} is to be inclusive to the largest number of
        contributors</strong
      >, with the most varied and diverse backgrounds possible. As such, we are committed to
      providing a friendly, safe and welcoming environment for all, regardless of gender,
      sexual orientation, ability, ethnicity, socioeconomic status and religion (or lack
      thereof).
    </p>

    <p class="code__text">
      We invite all those who participate in our events to help us create safe and positive
      experiences for everyone.
    </p>

    <h3 class="code__subheading">Unacceptable Behavior</h3>

    <p class="code__text">
      Unacceptable behaviors include: intimidating, harassing, abusive, discriminatory,
      derogatory or demeaning speech or actions, harmful or prejudicial verbal or written
      comments related to gender, sexual orientation, race, religion, disability;
      inappropriate use of nudity and/or sexual images (including presentation slides);
      inappropriate depictions of violence (including presentation slides); deliberate
      intimidation, stalking or following; harassing photography or recording; sustained
      disruption of talks or other events; inappropriate physical contact, and unwelcome
      sexual attention.
    </p>

    <h3 class="code__subheading">
      Consequences of Unacceptable Behavior
    </h3>

    <p class="code__text">
      Unacceptable behavior from any community member, including sponsors and those with
      decision-making authority, will not be tolerated.
      <strong
        >Anyone asked to stop unacceptable behavior is expected to comply immediately.</strong
      >
    </p>

    <p class="code__text">
      If a community member engages in unacceptable behavior, the community organizers may
      take any action they deem appropriate, up to and including a temporary ban or permanent
      expulsion from the community without warning (and without refund).
    </p>

    <h3 class="code__subheading">
      If You Witness or Are Subject to Unacceptable Behavior
    </h3>

    <p class="code__text">
      If you are subject to or witness unacceptable behavior, or have any other concerns,
      please notify an organizer as soon as possible. Organizers are wearing green meet.js
      Summit organizer t-shirt. You can also contact the organizers via Twitter
      <a
        class="code__link"
        href="{{ social.twitter }}"
        title="meet.js on Twitter"
        aria-label="meet.js on Twitter"
        >@meetjs</a
      >
      or email
      <a
        href="mailto:{{ social.email }}"
        class="code__link"
        title="Contact with meet.js crew via email"
        aria-label="Contact with meet JS crew via email"
        >{{ social.email }}</a
      >.
    </p>

    <p class="code__text">
      Organizers are available to help community members engage with local law enforcement or
      to otherwise help those experiencing unacceptable behavior feel safe. Organizers will
      also provide escorts as desired by the person experiencing distress.
    </p>

    <p class="code__text">
      See more at
      <a class="code__link" href="https://berlincodeofconduct.org/">berlincodeofconduct.org</a
      >.
    </p>
  </div>
</section>
