<footer class="main-footer">
  <div class="main-footer__content">
    <p class="main-footer__badge">See you in InsertCity!</p>
    <p class="main-footer__copy">meet.js &copy; 20XX</p>
    <p class="main-footer__editions">
      <strong>Previous editions:</strong>
      <a href="https://summit.meetjs.pl/2012/">2012</a>,
      <a href="https://summit.meetjs.pl/2013/">2013</a>,
      <a href="https://summit.meetjs.pl/2014/">2014</a>,
      <a href="https://summit.meetjs.pl/2016/">2016</a>,
      <a href="https://summit.meetjs.pl/2017/">2017</a>,
      <a href="https://summit.meetjs.pl/2018/">2018</a>,
      <a href="https://summit.meetjs.pl/2019/">2019</a>,
      <a href="https://summit.meetjs.pl/2022/">2022</a>,
      <a href="https://summit.meetjs.pl/2023/">2023</a>,
      <a href="https://summit.meetjs.pl/2024/">2024</a>
    </p>
  </div>
</footer>
