<section class="gallery">
  <div class="gallery__picture">
    <img class="gallery__image" src="./img/gallery/conference1.jpg" alt="" />
  </div>
  <div class="gallery__picture">
    <img class="gallery__image" src="./img/gallery/conference2.jpg" alt="" />
  </div>
  <div class="gallery__picture">
    <img class="gallery__image" src="./img/gallery/conference3.jpg" alt="" />
  </div>
  <div class="gallery__picture">
    <img class="gallery__image" src="./img/gallery/conference4.jpg" alt="" />
  </div>
</section>
