<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>meet.js Summit {{ year }}</title>
<meta
  property="description"
  content="meet.js Summit is a conference for front-end developers interested in JavaScript development, covering topics like Front-end architectures, Node.js, frameworks like Vue, React or Angular. All proceeds go to charities under Siepomaga.pl"
/>
<meta property="og:title" content="meet.js Summit {{ year }}" />
<meta
  property="og:description"
  content="meet.js Summit is a conference for front-end developers interested in JavaScript development, covering topics like Front-end architectures, Node.js, frameworks like Vue, React or Angular. All proceeds go to charities under Siepomaga.pl"
/>
<!-- TODO: image -->
<meta
  property="og:image"
  content="https://summit.meetjs.pl/2023/images/facebook/fb-og-2023-09-29.png"
/>
<meta propert="og:updated_time" content="1752507152" />
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />
<meta property="fb:app_id" content="459634817724237" />
<meta property="og:url" content="https://summit.meetjs.pl/{{ year }}/" />
<meta property="og:site_name" content="meet.js Summit" />
<meta http-equiv="Cache-Control" content="no-cache" />
