<section id="hero" class="hero">
  <div class="hero__outer-content">
    <div class="hero__content">
      <div class="hero__info">
        <h1 class="hero__heading">meet.js Summit</h1>
        <p class="hero__date">
          <span class="hero__highlight">
            <!-- Notice: edit datetime too! -->
            <time datetime="2023-09-29">September XX, 20XX</time> // InsertCity, Poland
          </span>
        </p>
        <p class="hero__text">
          <strong>
            Annual conference of the widest JavaScript community in Poland.
          </strong>
          The meet.js Summit is an annual conference bringing together local JavaScript
          communities from all across Poland. An event that gathers 500 web development
          professionals, front-end and back-end software engineers interested in modern
          JavaScript ecosystem and web technologies.
        </p>
      </div>
    </div>
  </div>
</section>
