<section id="schedule" class="agenda">
  <div class="agenda__content">
    <h2 class="agenda__heading"><span aria-hidden="true">#</span>schedule</h2>
    <div class="agenda__day" id="workshop">
      <h3 class="agenda__day__heading">Thursday, 28th September, 20XX</h3>
      <div class="agenda__workshop">
        <div class="agenda__workshop__heading">
          <time datetime="09:00">09:00</time> - <time datetime="18:00">18:00</time>
          <h4>Example workshop</h4>
          <h5>Workshop place, Street, InsertCity</h5>
        </div>
        <p class="agenda__workshop__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          <br />
          <a class="agenda__workshop__link" href="./workshop">Read more →</a>
        </p>
      </div>
    </div>
    <div class="agenda__day" id="conferance">
      <h3 class="agenda__day__heading">Friday, 29th September, 20XX</h3>
      <div class="agenda__workshop">
        <div class="agenda__workshop__heading">
          <time datetime="09:00">09:00</time> - <time datetime="18:00">18:00</time>
          <h4>Conference Summit meet.js</h4>
          <h5>Conference place, Street, InsertCity</h5>
        </div>
        <div class="agenda__day">
          <h4 class="agenda__toggle-all js-toggle">
            Open all sessions details
          </h4>
          <ul class="agenda__list">
            <li class="agenda__list-item">
              <time datetime="08:00">08:00</time>
              <h3>Conference Registration</h3>
              <!-- <h4>Note separate queues for paid and free tickets</h4> -->
              <p>
                We'll be set up next to the entrance so that you can check-in for the
                conference. Have your evenea ticket ready.
                <br />
                Once you get in, grab a coffee, meet old friends, make new friends, visit our
                sponsor booths or make yourself familiar with the venue.
              </p>
            </li>
            <li class="agenda__list-item">
              <time datetime="09:00">09:00</time>
              <h3>Event opening</h3>
              <h4>Auditorium</h4>
              <p>Greetings, announcements and intros to our special attractions</p>
            </li>
            <li class="agenda__list-item">
              <time datetime="09:30">9:30</time>
              <h3>Hallway track</h3>
              <h4>Open area</h4>
              <p>
                Self-organizing discussion panels (all day)
              </p>
            </li>
            <li class="agenda__list-item">
              <time datetime="9:30">9:30</time>
              <h3>Session 1</h3>
              <h4>Auditorium</h4>
              <article class="agenda-talks-box">
                <h4 class="agenda-talks-box__title js-toggle">
                  Lorem Ipsum Development Patterns
                </h4>
                <div class="agenda-talks-box__info">
                  <img
                    class="agenda-talks-box__image"
                    src="https://i.pravatar.cc/300"
                    alt="Photo of speaker: John Doe"
                  />
                  <div class="agenda-talks-box__header">
                    <div>
                      <h3>John Doe</h3>
                    </div>
                  </div>

                  <p class="agenda-talks-box__desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                </div>
              </article>
              <article class="agenda-talks-box">
                <h4 class="agenda-talks-box__title js-toggle">
                  Modern JavaScript Techniques for Better Code
                </h4>
                <div class="agenda-talks-box__info">
                  <img
                    class="agenda-talks-box__image"
                    src="https://i.pravatar.cc/300"
                    alt="Photo of speaker: Jane Smith"
                  />
                  <div class="agenda-talks-box__header">
                    <div>
                      <h3>Jane Smith</h3>
                    </div>
                  </div>

                  <p class="agenda-talks-box__desc">
                    Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                  </p>
                </div>
              </article>
              <article class="agenda-talks-box">
                <h4 class="agenda-talks-box__title js-toggle">
                  Building Scalable Web Applications
                </h4>
                <div class="agenda-talks-box__info">
                  <img
                    class="agenda-talks-box__image"
                    src="https://i.pravatar.cc/300"
                    alt="Photo of speaker: Mike Johnson"
                  />
                  <div class="agenda-talks-box__header">
                    <div>
                      <h3>Mike Johnson</h3>
                    </div>
                  </div>

                  <p class="agenda-talks-box__desc">
                    Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
              </article>
            </li>

            <li class="agenda__list-item">
              <time datetime="11:00">11:00</time>
              <h3>Coffee break</h3>
              <h4>Open area</h4>
              <p>Boost your caffeine level before the next session</p>
            </li>

            <li class="agenda__list-item">
              <time datetime="11:30">11:30</time>
              <h3>Session 2</h3>
              <h4>Auditorium</h4>
              <article class="agenda-talks-box">
                <h4 class="agenda-talks-box__title js-toggle">
                  Advanced Web Security Patterns
                </h4>
                <div class="agenda-talks-box__info">
                  <img
                    class="agenda-talks-box__image"
                    src="https://i.pravatar.cc/300"
                    alt="Photo of speaker: Alex Thompson"
                  />
                  <div class="agenda-talks-box__header">
                    <div>
                      <h3>Alex Thompson</h3>
                    </div>
                  </div>

                  <p class="agenda-talks-box__desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                </div>
              </article>
              <article class="agenda-talks-box">
                <h4 class="agenda-talks-box__title js-toggle">
                  Modern Web Accessibility Techniques
                </h4>
                <div class="agenda-talks-box__info">
                  <img
                    class="agenda-talks-box__image"
                    src="https://i.pravatar.cc/300"
                    alt="Photo of speaker: Sarah Williams"
                  />
                  <div class="agenda-talks-box__header">
                    <div>
                      <h3>Sarah Williams</h3>
                    </div>
                  </div>

                  <p class="agenda-talks-box__desc">
                    Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                  </p>
                </div>
              </article>
              <article class="agenda-talks-box">
                <h4 class="agenda-talks-box__title js-toggle">
                  Building Component Libraries with Modern Tools
                </h4>
                <div class="agenda-talks-box__info">
                  <img
                    class="agenda-talks-box__image"
                    src="https://i.pravatar.cc/300"
                    alt="Photo of speaker: David Chen"
                  />
                  <div class="agenda-talks-box__header">
                    <div>
                      <h3>David Chen</h3>
                    </div>
                  </div>

                  <p class="agenda-talks-box__desc">
                    Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
              </article>
            </li>
            <li class="agenda__list-item">
              <time datetime="13:15">13:15</time>
              <h3>Lunch break</h3>
              <h4>Open area behind the auditorium</h4>
              <p>
                And when you're done eating, check out our sponsors and Hallway track
                attractions.
              </p>
            </li>
            <li class="agenda__list-item">
              <time datetime="14:15">14:15</time>
              <h3>Session 3</h3>
              <h4>Auditorium</h4>
              <article class="agenda-talks-box">
                <h4 class="agenda-talks-box__title js-toggle">
                  Lightning talks
                </h4>
                <div class="agenda-talks-box__info">
                  <p class="agenda-talks-box__desc">
                    30 minutes of fast paced content to wake you up after lunch.
                  </p>
                </div>
              </article>
              <article class="agenda-talks-box">
                <h4 class="agenda-talks-box__title js-toggle">
                  Next Generation JavaScript Runtime
                </h4>

                <div class="agenda-talks-box__info">
                  <img
                    class="agenda-talks-box__image"
                    src="https://i.pravatar.cc/300"
                    alt="Photo of speaker: Emma Rodriguez"
                  />
                  <div class="agenda-talks-box__header">
                    <div>
                      <h3>Emma Rodriguez</h3>
                    </div>
                  </div>

                  <p class="agenda-talks-box__desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                  </p>
                </div>
              </article>
              <article class="agenda-talks-box">
                <h4 class="agenda-talks-box__title js-toggle">
                  Writing Clean and Maintainable Code
                </h4>
                <div class="agenda-talks-box__info">
                  <img
                    class="agenda-talks-box__image"
                    src="https://i.pravatar.cc/300"
                    alt="Photo of speaker: Robert Kim"
                  />
                  <div class="agenda-talks-box__header">
                    <div>
                      <h3>Robert Kim</h3>
                    </div>
                  </div>

                  <p class="agenda-talks-box__desc">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                  </p>
                </div>
              </article>
            </li>
            <li class="agenda__list-item">
              <time datetime="16:00">16:00</time>
              <h3>Coffee break</h3>
              <h4>Open area</h4>
              <p>Take a sip & talk</p>
            </li>
            <li class="agenda__list-item">
              <time datetime="16:30">16:30</time>
              <h3>Session 4</h3>
              <h4>Auditorium</h4>
              <article class="agenda-talks-box">
                <h4 class="agenda-talks-box__title js-toggle">
                  Modern Database Technologies
                </h4>
                <div class="agenda-talks-box__info">
                  <img
                    class="agenda-talks-box__image"
                    src="https://i.pravatar.cc/300"
                    alt="Photo of speaker: Lisa Anderson"
                  />
                  <div class="agenda-talks-box__header">
                    <div>
                      <h3>Lisa Anderson</h3>
                    </div>
                  </div>

                  <p class="agenda-talks-box__desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                  </p>
                </div>
              </article>
              <article class="agenda-talks-box">
                <h4 class="agenda-talks-box__title js-toggle">
                  Optimizing Data Processing in JavaScript
                </h4>
                <div class="agenda-talks-box__info">
                  <img
                    class="agenda-talks-box__image"
                    src="https://i.pravatar.cc/300"
                    alt="Photo of speaker: Mark Wilson"
                  />
                  <div class="agenda-talks-box__header">
                    <div>
                      <h3>Mark Wilson</h3>
                    </div>
                  </div>

                  <p class="agenda-talks-box__desc">
                    Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                  </p>
                </div>
              </article>
              <article class="agenda-talks-box">
                <h4 class="agenda-talks-box__title js-toggle">
                  Monitoring and Performance Optimization
                </h4>
                <div class="agenda-talks-box__info">
                  <img
                    class="agenda-talks-box__image"
                    src="https://i.pravatar.cc/300"
                    alt="Photo of speaker: Jennifer Taylor"
                  />
                  <div class="agenda-talks-box__header">
                    <div>
                      <h3>Jennifer Taylor</h3>
                    </div>
                  </div>

                  <p class="agenda-talks-box__desc">
                    Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
              </article>
            </li>
            <li class="agenda__list-item">
              <time datetime="18:00">18:00</time>
              <h3>Event closing</h3>
              <h4>Auditorium</h4>
              <p>A quick goodbye from the organizers</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
