<section id="schedule" class="agenda">
  <div class="agenda__content">
    <h2 class="agenda__heading"><span aria-hidden="true">#</span>schedule</h2>
    <div class="agenda__day" id="workshop">
      <h3 class="agenda__day__heading">{{ schedule.workshop.date }}</h3>
      <div class="agenda__workshop">
        <div class="agenda__workshop__heading">
          <time datetime="{{ schedule.workshop.start }}">{{ schedule.workshop.start }}</time> - <time datetime="{{ schedule.workshop.end }}">{{ schedule.workshop.end }}</time>
          <h4>{{ schedule.workshop.title }}</h4>
          <h5>{{ schedule.workshop.address }}</h5>
        </div>
        <p class="agenda__workshop__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          <br />
          <a class="agenda__workshop__link" href="./workshop">Read more →</a>
        </p>
      </div>
    </div>
    <div class="agenda__day" id="conferance">
      <h3 class="agenda__day__heading">{{ schedule.talks.date }}</h3>
      <div class="agenda__workshop">
        <div class="agenda__workshop__heading">
          <time datetime="{{ schedule.talks.start }}">{{ schedule.talks.start }}</time> - <time datetime="{{ schedule.talks.end }}">{{ schedule.talks.end }}</time>
          <h4>{{ schedule.talks.title }}</h4>
          <h5>{{ schedule.talks.address }}</h5>
        </div>
        <div class="agenda__day">
          <h4 class="agenda__toggle-all js-toggle">
            Open all sessions details
          </h4>
          <ul class="agenda__list">
            {{#each agenda.schedule.sessions}}
            <li class="agenda__list-item">
              <time datetime="{{ time }}">{{ time }}</time>
              <h3>{{ title }}</h3>
              {{#if location}}
              <h4>{{ location }}</h4>
              {{/if}}
              
              {{#if (eq type "general")}}
                <p>{{{ description }}}</p>
              {{/if}}
              
              {{#if (eq type "break")}}
                <p>{{ description }}</p>
              {{/if}}
              
              {{#if (eq type "talks")}}
                {{#if special}}
                <article class="agenda-talks-box">
                  <h4 class="agenda-talks-box__title js-toggle">
                    {{ special.title }}
                  </h4>
                  <div class="agenda-talks-box__info">
                    <p class="agenda-talks-box__desc">
                      {{ special.description }}
                    </p>
                  </div>
                </article>
                {{/if}}
                
                {{#each speakers}}
                  {{#with (lookup ../../speakers this)}}
                  <article class="agenda-talks-box">
                    <h4 class="agenda-talks-box__title js-toggle">
                      {{ talk.title }}
                    </h4>
                    <div class="agenda-talks-box__info">
                      <img
                        class="agenda-talks-box__image"
                        src="{{ avatar }}"
                        alt="Photo of speaker: {{ name }}"
                      />
                      <div class="agenda-talks-box__header">
                        <div>
                          <h3>{{ name }}</h3>
                        </div>
                      </div>

                      <p class="agenda-talks-box__desc">
                        {{ talk.description }}
                      </p>
                    </div>
                  </article>
                  {{/with}}
                {{/each}}
              {{/if}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
