<section class="soon__hero" id="hero">
  <div class="logo-container">
    <img src="https://meetjs.pl/assets/brand/logo/light-default/meetjs_logo_white_light.svg" alt="meet.js" class="logo">
    <div class='partner'>
      <p>with</p>
      <a rel="preload" href='https://www.brave.courses/'>
        <img src="/img/partners/BRAVE.svg" alt="brave courses" class='main-partner-logo'>
      </a>
      <p>&</p>
      <a rel="preload" href='https://www.aidevs.pl/'>
        <img src="/img/partners/AI_devs4.svg" alt="brave courses" class='main-partner-logo aidevs'>
      </a>
    </div>
  </div>

  <h1 class="tagline">See you in 2026 👋</h1>§
  <p class="location">Warsaw, Poland</p>

  <a href="#sponsor_offer" class="cta-button">Become a Sponsor</a>
</section>