<section id="sponsor_offer" class="sponsor-offer">
  <div class="sponsor-offer__content">
    <h2 class="sponsor-offer__heading"><span aria-hidden="true">#</span>become-a-sponsor</h2>
    <div class="sponsor-offer__main-info">
      <p class="sponsor-offer__text">
        Show your brand at one of the first in-person JavaScript conferences after the long
        break. Come to meet.js Summit - attended by
        <span class="sponsor-offer__highlight">over&nbsp;500&nbsp;professionals</span>.
      </p>
      <p class="sponsor-offer__text">
        At the Summit you will meet
        <span class="sponsor-offer__highlight"
          >experienced&nbsp;front-end&nbsp;developers</span
        >
        and people working in the web technology space.
      </p>
      <p class="sponsor-offer__text">
        Take action here and now - make a real connection in person and get your candidates
        emotionally engaged from the start!
      </p>
      <p class="sponsor-offer__text">
        Download our
        <a
          target="_blank"
          class="sponsor-offer__link"
          href="pdf/sponsor-offer-meetjs-{{ year }}.pdf"
          title="Download PDF with Sponsorship Packages offer in English"
          aria-label="Download PDF with Sponsorship Packages offer in English"
          >Sponsorship Offer (PDF)</a
        >
        to find out more and contact us directly to discuss sponsorship opportunities.
      </p>
    </div>
    <div class="sponsor-offer__gallery">
      <div class="sponsor-offer__picture">
        <img class="sponsor-offer__image" src="./img/conference/conference2.jpg" alt="" />
      </div>
      <div class="sponsor-offer__picture">
        <img class="sponsor-offer__image" src="./img/conference/conference3.jpg" alt="" />
      </div>
    </div>
    <div class="sponsor-offer__gallery">
      <div class="sponsor-offer__picture">
        <img class="sponsor-offer__image" src="./img/conference/conference1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
