<section id="sponsor_list" class="sponsor-list">
  <div class="sponsor-list__content">
    <div class="sponsor-list__main-info">
      <h2 class="sponsor-list__heading"><span aria-hidden="true">#</span>sponsors</h2>
    </div>
    <p class="sponsor-list__text">
      Each year, our sponsors and partners help us give tickets to charity, organize
      a&nbsp;great event and welcome you in their stands.
    </p>

    {{#each sponsors.tiers}}
      {{#if (hasItems sponsors)}}
      <div class="{{ jsClass }}">
        <h3 class="sponsor-list__subheading"><span>{{ title }}</span></h3>
        <ul class="sponsor-list__list {{ cssClass }}">
          {{#each sponsors}}
          <li class="sponsor-list__list-item">
            <a href="{{ addUtm url ../../utm }}" title="{{ name }}" target="_blank">
              <img alt="{{ name }}" src="{{ logo }}" loading="lazy" decoding="async" />
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    {{/each}}

    {{#if (hasItems sponsors.partners)}}
    <div>
      <h3 class="sponsor-list__subheading"><span>Partners and communities</span></h3>
      <ul class="sponsor-list__list sponsor-list__list--small">
        {{#each sponsors.partners}}
        <li class="sponsor-list__list-item">
          <a href="{{ addUtm url ../utm }}" title="{{ name }}" target="_blank">
            <img src="{{ logo }}" alt="{{ name }}" loading="lazy" decoding="async" />
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}

  </div>
</section>
