<section class="ticket" id="tickets">
  <div class="ticket__content">
    <h2 class="ticket__heading"><span aria-hidden="true">#</span>tickets</h2>
    <p class="ticket__text">
      You can also buy a ticket at the registration desk after all registered participants get
      in. All you need to do is donate 200pln to one of our causes at siepomaga.pl on the
      spot.
    </p>
    <iframe
      src="https://app.evenea.pl/event/meetjs-summit-2023/?out=1&source=event_iframe"
      width="100%"
      scrolling="no"
      style="border: 0;"
    ></iframe>
    <script
      type="text/javascript"
      src="https://app.evenea.pl/js/iframe/new/iframeResizer2.js"
    ></script>
    <!-- <p class="ticket__text">
      Still want to donate? Go to
      <a href="https://www.siepomaga.pl/meet-js-summit">our donations page</a>.
    </p>
    <p class="ticket__text">
      If a substantial number of tickets is left unclaimed we'll announce that on
      <a href="https://discord.gg/UycCSpRh6j">meet.js discord</a> between 11:00 and 12:00 and
      they will be available on the spot in exchange for a donation of minimum 100PLN to
      Siepomaga. -->
    </p>
  </div>
</section>
