<section class="venue" id="venue">
  <h2 class="venue__heading"><span aria-hidden="true">#</span>venue</h2>
  <div class="venue__content">
    <div class="venue__info">
      <p class="venue__place">{{ venue.name }}</p>
      <p class="venue__address">{{ venue.address }}</p>
      <!-- <p>
        Get to "Dworzec Zachodni", walk through the gate at Głogowska 14 and then up the
        stairs and to the left.
      </p> -->
      <p>
        Jump into <a href="{{ social.discord }}">meet.js discord</a> to ask peers and
        walk together :)
      </p>
      <div class="venue__links">
        <a
          class="venue__link"
          href="{{ venue.map }}"
          title="{{ venue.name }} on Google maps"
          aria-label="{{ venue.name }} on Google maps"
        >
          #entrance on maps
        </a>
      </div>
    </div>
  </div>
  <a
    class="venue__map"
    href="{{ venue.map }}"
    title="{{ venue.name }} on Google Maps"
    aria-label="{{ venue.name }} on Google Maps"
  >
    <img src="./img/venue/map.png" alt="map view" />
  </a>
</section>
