<section class="venue" id="venue">
  <h2 class="venue__heading"><span aria-hidden="true">#</span>venue</h2>
  <div class="venue__content">
    <div class="venue__info">
      <p class="venue__place">Conference place</p>
      <p class="venue__address">Street 13/37, InsertCity, Poland</p>
      <!-- <p>
        Get to "Dworzec Zachodni", walk through the gate at Głogowska 14 and then up the
        stairs and to the left.
      </p> -->
      <p>
        Jump into <a href="https://discord.gg/UycCSpRh6j">meet.js discord</a> to ask peers and
        walk together :)
      </p>
      <div class="venue__links">
        <a
          class="venue__link"
          href="https://goo.gl/maps/pbFvviexQ8yb61KH8"
          title="Conference place on Google maps"
          aria-label="Conference place on Google maps"
        >
          #entrance on maps
        </a>
      </div>
    </div>
  </div>
  <a
    class="venue__map"
    href="https://goo.gl/maps/pbFvviexQ8yb61KH8"
    title="Kino Nowe Horyzonty on Google Maps"
    aria-label="Kino Nowe Horyzonty on Google Maps"
  >
    <img src="./img/venue/map.png" alt="map view" />
  </a>
</section>
