@import url('https://fonts.bunny.net/css?family=montserrat:400,700|source-code-pro:900');

%font-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%font-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
}

%font-mono {
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  font-style: normal;
}
