@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Code+Pro:900&subset=latin-ext');

%font-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%font-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
}

%font-mono {
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  font-style: normal;
}
